---
---
<% lang_ext      = '([a-z]{2})'
   multiview_ext = "(?:\\.html(?:\\.#{lang_ext.delete('()')})?)?" %>
RewriteEngine On

# Recognize language code in URL; save to cookie and environment variable
RewriteCond %{REQUEST_URI} \A/<%= lang_ext %>(\z|/.*)
RewriteRule .* %2 [CO=language:%1:<%= @site.url[/\/([^\/:]+)/, 1] %>:525600,E=LANG:%1]

# Extract preferred language from cookie and environment variable
SetEnvIf Cookie        language=<%= lang_ext %>\b prefer-language=$1
SetEnvIf REDIRECT_LANG        \A<%= lang_ext %>\z prefer-language=$1

Header append Vary Cookie

# Prevent caching of dummy file (to set language from pandora)
<Files dummy>
  FileETag None
  Header unset ETag
  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "Thu, 01 Jan 1970 00:00:00 GMT"
</Files>

# Blog
RewriteRule \Ablog/articles\.(?:rss|atom) /atom.xml [L,R=permanent]
RewriteRule \Ablog(/tag/.+) $1 [L,R=permanent]
RewriteRule \Ablog<%= multiview_ext %>(?:/\d+){3}(/.+) /blog$1 [L,R=permanent]

# Typo3
RewriteCond %{QUERY_STRING} (?:\A|&)cHash=([\da-f]+)(?:&|\z) [OR]
RewriteCond %{QUERY_STRING} (?:\A|&)id=(\d+)(?:&|\z)
RewriteRule .* ${prom-old-to-new:%1|/}? [L,R=permanent]
RewriteRule \A(?:t3pro|index\.php\z) /? [L,R=permanent]

# Code login
RewriteRule \Acode<%= multiview_ext %>(?:\z|/) <%=p 'code' %> [L,R]

# Deflate
AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript application/javascript
# ... text/xml application/xml application/xhtml+xml
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# Expire
ExpiresActive On

<% {
  '1 month' => %w[image/*],
  '1 week'  => %w[text/css text/javascript application/javascript]
}.each { |duration, types| types.each { |type| -%>
ExpiresByType <%= type %> "access plus <%= duration %>"
<% } } -%>
