---
layout: default
title: File not found
---
<h2>404 - <%= page_title %></h2>

<p>
  Sorry, the page you were trying to access could not be found!
</p>

<p>
  Hopefully one of these pages will get you back on track:
  <ul>
    <li><a href="<%=r 'index' %>">The prometheus Homepage</a></li>
    <li><a href="<%=p '' %>">The prometheus Image Archive start page</a></li>
    <li><a href="<%=p 'sitemap' %>">The prometheus Image Archive sitemap</a></li>
    <li>
      <a href="javascript:history.back()">Or try going back to the page you were coming from</a>
      (<noscript>requires JavaScript to be enabled; </noscript>alternatively, just hit your browser's back-button)
    </li>
  </ul>
</p>

<p>
  Anyway, a short note would be greatly appreciated: <a href="mailto:<%= site.email %>"><%= site.email %></a>
</p>
