<noscript>
<form action="<%=p 'campus_login' %>" class="login_form" method="post">
  <fieldset>
    <legend><strong><%=t 'Campus login', 'Campuszugang' %></strong></legend>

    <div class="campus_title">
      <%=t 'Available inside a', 'Verfügbar innerhalb des Campus einer' %>
      <a href="<%=p 'institution/licensed' %>"><%=t 'licensed campus', 'lizenzierten Institution' %></a>.
    </div>

    <input type="submit" name="commit" value="<%=t 'Log in', 'anmelden' %>" class="float-right" />
  </fieldset>
</form>
</noscript>
