<a href="#top" title="Zurück zum Seitenanfang"><img alt="Top" src="<%=r 'images/misc/top.gif' %>" /></a>
<span>
<a href="<%= @site.pandora_url %>/about"><%=t 'About us', 'Über uns' %></a>
| <a href="<%=r 'imprint' %>"><%=t 'Imprint', 'Impressum' %></a>
| <a href="<%= @site.pandora_url %>/feedback">Feedback</a>
| <a href="<%= @site.pandora_url %>/terms_of_use"><%=t 'Term of use', 'Nutzungsbedingungen' %></a>
| <a href="<%=r 'blog' %>" title="prometheus blog">Blog</a>
| <a href="<%= @site.pandora_url %>/sitemap">Sitemap</a>
| <a href="<%= @site.pandora_url %>/help"><%=t 'Help', 'Hilfe' %></a>
</span>
