<a href="#top" title="<%=t 'Back to top', 'Zurück zum Seitenanfang' %>"><img alt="Top" src="<%=r 'images/misc/top.gif' %>" /></a>
<span>
  <a href="<%=r 'blog'         %>" title="<%=t 'The prometheus Blog', 'Das prometheus-Blog'   %>">Blog</a>
| <a href="<%=r 'about'        %>" title="<%= name = t('About us', 'Über uns')                %>"><%= name %></a>
| <a href="<%=r 'contact'      %>" title="<%= name = t('Contact', 'Kontakt')                  %>"><%= name %></a>
| <a href="<%=p 'feedback'     %>" title="<%= name = t('Feedback', 'Feedback')                %>"><%= name %></a>
| <a href="<%=r 'imprint'      %>" title="<%= name = t('Imprint', 'Impressum')                %>"><%= name %></a>
| <a href="<%=r 'copyright'    %>" title="<%=t 'General copyright information', 'Allgemeine Informationen zum Bildrecht' %>"><%=t 'Copyright', 'Bildrecht' %></a>
| <a href="<%=p 'terms_of_use' %>" title="<%= name = t('Terms of use', 'Nutzungsbedingungen') %>"><%= name %></a>
| <a href="<%=p 'sitemap'      %>" title="<%= name = t('Sitemap', 'Sitemap')                  %>"><%= name %></a>
| <a href="<%=p 'help'         %>" title="<%= name = t('Help', 'Hilfe')                       %>"><%= name %></a>
</span>
