<h2 class="header-line"><%=t 'Welcome to', 'Herzlich Willkommen bei' %> <em>prometheus</em></h2>

<div id="tags-map">
  <img src="<%=r "files/images/tags.#{page.lang}.png" %>" width="238" height="186" usemap="#tags" />

  <map name="tags">
    <area shape="rect" coords="<%=t '20,17,223,50',   '19,15,171,51' %>"   alt="<%= n = t('Searching', 'Suchen') %>"        title="<%= n %>" href="<%=r 'prometheus#searching' %>" />
    <area shape="rect" coords="<%=t '33,50,205,79',   '57,51,220,80' %>"   alt="<%= n = t('Collecting', 'Sammeln') %>"      title="<%= n %>" href="<%=r 'prometheus#collecting' %>" />
    <area shape="rect" coords="<%=t '26,79,167,103',  '26,80,194,104' %>"  alt="<%= n = t('Presenting', 'Präsentieren') %>" title="<%= n %>" href="<%=r 'prometheus#presenting' %>" />
    <area shape="rect" coords="<%=t '49,103,221,132', '48,104,233,132' %>" alt="<%= n = t('Publishing', 'Publizieren') %>"  title="<%= n %>" href="<%=r 'prometheus#publishing' %>" />
    <area shape="rect" coords="<%=t '67,132,225,156', '66,132,187,157' %>" alt="<%= n = t('Researching', 'Forschen') %>"    title="<%= n %>" href="<%=r 'prometheus#researching' %>" />
  </map>
</div>

<div id="greeting">
  <%= include_file "greeting.#{page.lang}.html" %>

  <ul>
    <li>
      <% link = %Q{<a href="#{r 'prometheus'}">%s</a>} %><%=
        link % %Q{<img src="#{r 'files/icons/info.gif'}" alt="Info" />}
      %><%=
        link % t('Learn more about us', 'Erfahren Sie mehr über uns')
      %>
    </li>
    <li>
      <% link = %Q{<a href="#{p 'signup'}">%s</a>} %><%=
        link % %Q{<img src="#{r 'files/icons/signup.gif'}" alt="Signup" />}
      %><%=
        link % t('Sign up for prometheus', 'Melden Sie sich bei prometheus an')
      %>
    </li>
  </ul>
</div>

<br class="clear-float" />

<div id="series-front">
  <h3 class="section-title"><%=t 'Current image series', 'Aktuelle Bildserie' %></h3>

  <div class="section-item">
    <a href="<!--#echo var="series" -->" title="<!--#include virtual="${series}/title.html.<%= page.lang %>" -->">
      <img src="<!--#echo var="series" -->/start.jpg" alt="Start" />
    </a>

    <h4 class="section-heading"><!--#include virtual="${series}/title.html.<%= page.lang %>" --></h4>

    <!--#include virtual="${series}/teaser.html.<%= page.lang %>" -->

    <span>
      <span class="pale">|</span>
      <a href="<!--#echo var="series" -->"><%=t 'more...', 'mehr...' %></a>
    </span>
  </div>
</div>

<br class="clear-float" />
