<p>
  Sie finden bei uns <strong><%= record_count %></strong> hochqualitative, digitalisierte Bilder aus Kunst, Kultur und Geschichte für Ihre Forschung und Lehre.
</p>

<p>
  prometheus ist ein verteiltes digitales Bildarchiv, das derzeit <strong><%= source_count %></strong> Instituts-, Forschungs- und Museumsdatenbanken unter einer Oberfläche verbindet. 
Mit Sitz am Kunsthistorischen Institut der Universität zu Köln wird es durch den gemeinnützigen Verein prometheus e.V. zur Förderung von Wissenschaft und Forschung vertreten. 
</p>
