<p>
  In prometheus you will find <strong><%= record_count %></strong> high-quality digitized images from the fields of arts, culture and history.
</p>

<p>
  prometheus is a distributed digital image archive that currently connects <strong><%= source_count %></strong> databases from institutes, research facilities and museums on a common user interface. Situated at the Institute of Art History of the University of Cologne, prometheus is supported by the non-profit association prometheus e.V. which promotes the ongoing developments of the digital media for science and research.
</p>
