<span style="color: #f00">ACHTUNG</span>: Sie benutzen Internet Explorer 6.0
oder älter als Webbrowser. IE6 ist ein zehn Jahre alter Browser, der moderne
Webseiten nicht richtig darstellen kann. Bitte aktualisieren Sie Ihren Browser
auf eine neuere Version, um in den vollen Genuss des Webs und insbesondere des
prometheus-Bildarchivs zu kommen.
<a href="http://browser-update.org/de/update.html" style="color: #00f; white-space: nowrap">Erfahren Sie, wie Sie Ihren Browser aktualisieren können.</a>
