<form action="<%=p 'login' %>" class="login_form" method="post">
  <fieldset>
    <legend>
      <strong><%=t 'Personal account login', 'Persönlicher Zugang' %></strong>
      <a href="<%=p 'help', 'login' %>" title="<%=t 'Login help', 'Anmeldungshilfe' %>">
        <img src="<%=r 'images/misc/help.gif' %>" alt="Help" />
      </a>
    </legend>

    <label for="login"><%=t 'User name or e-mail address', 'Nutzername oder E-Mail-Adresse' %></label><br />
    <input type="text" name="login" id="login" size="32" tabindex="1" /><br />

    <br class="vspace1" />

    <label for="password"><%=t 'Password', 'Passwort' %></label>
    <small>(<a href="<%=p 'password' %>" title="<%=t 'Reset password', 'Passwort zurücksetzen' %>"><%=t 'Forgotten?', 'Vergessen?' %></a></small>)<br />
    <input type="password" name="password" id="password" size="32" tabindex="2" /><br />

    <br class="vspace1" />

    <input type="submit" name="commit" value="<%=t 'Log in', 'anmelden' %>" class="float-right" />

    <input type="checkbox" name="remember_me" id="remember_me" value="1" />
    <label for="remember_me"><%=t 'Remember me on this computer.', 'Auf diesem Rechner merken.' %></label><br />

    <!-- jw/20080407: fool pandora's cookie checking mechanism ;-) -->
    <input type="hidden" name="_pandora_session_id" value="FAKE" />
  </fieldset>
</form>
