<div id="navigation">
  <ul>
    <li><a href="<%=r 'index' %>"><%=t 'Home', 'Start' %></a></li>
    <li><a href="<%=r 'blog' %>">Blog</a></li>
    <li><%=t 'About us', 'Wir über uns' %>
      <ul>
        <li><a href="<%=r 'about-us/the-association' %>"><%=t 'prometheus - the association', 'prometheus - der Verein' %></a></li>
        <li><a href="<%=r 'about-us/association-mission-statement' %>"><%=t 'Mission statement', 'Vereinsziele' %></a></li>
        <li><a href="<%=r 'about-us/association-become-a-member' %>"><%=t 'How to become a member', 'Mitglied werden' %></a></li>
        <li><a href="<%=r 'about-us/association-contact' %>"><%=t 'Contact us', 'Kontakt' %></a></li>
        <li><a href="<%=r 'about-us/articles-of-association' %>">Satzung</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'about-us/association-executive-board-and-members-of-staff' %>"><%=t 'Executive board and members of staff', 'Vorstand' %></a></li>
        <li><a href="<%=r 'about-us/staff' %>"><%=t 'Members of staff', 'MitarbeiterInnen' %></a></li>
        <li><a href="<%=r 'about-us/the-association-history' %>"><%=t 'The History of prometheus', 'Geschichte' %></a></li>
        <li><a href="<%=r 'about-us/sponsors' %>"><%=t 'Our sponsors', 'Unsere Förderer' %></a></li>
      </ul>
    </li>
    <li><%=t 'prometheus is', 'prometheus ist' %>
      <ul>
        <li><a href="<%=r 'prometheus-is/in-general/index' %>"><%=t 'In general', 'Allgemein' %></a>
          <ul>
            <li><a href="<%=r 'prometheus-is/in-general/user-instructions-to-the-image-archive' %>"><%=t 'User instructions to the image archive', 'Hinweise zur Nutzung des Bildarchivs' %></a></li>
            <li><a href="<%=r 'prometheus-is/in-general/description-of-the-image-archive' %>"><%=t 'Description of the image archive', 'Beschreibung des Bildarchivs' %></a></li>
            <li><a href="<%=r 'prometheus-is/in-general/description-of-the-technical-system' %>">Technisches System</a><%=t ' (in german)', '' %></li>
          </ul>
        </li>
        <li><a href="<%=r 'prometheus-is/pandora/index' %>">pandora</a>
        <li><a href="<%=r 'prometheus-is/newsletter/index' %>">Newsletter</a></li>
        <li><a href="<%=r 'prometheus-is/publications/index' %>"><%=t 'Publications', 'Publicationen' %></a>
          <ul>
            <li><a href="<%=r 'prometheus-is/publications/press-releases' %>"><%=t 'Press releases', 'Presseerklärungen' %></a></li>
            <li><a href="<%=r 'prometheus-is/publications/press-reactions' %>"><%=t 'Press reactions', 'Pressereaktionen' %></a></li>
            <li><a href="<%=r 'prometheus-is/publications/scientific-articles' %>"><%=t 'Scientific articles', 'Wissenschaftliche Beiträge' %></a></li>
            <li><a href="<%=r 'prometheus-is/publications/theses' %>"><%=t 'Theses', 'Diplomarbeiten' %></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="<%=r 'licences/index' %>"><%=t 'Accounts and licenses', 'Anmeldung und Lizenzen' %></a>
      <ul>
        <li><a href="<%=r 'licences/licence-fee' %>"><%=t 'License fee', 'Lizenzgebühren' %></a></li>
        <li><a href="<%=r 'licences/instructions-for-administrators' %>"><%=t 'Instructions for administrators', 'Hinweise für AdministratorInnen' %></a></li>
        <li><a href="<%=r 'licences/licence-holders' %>"><%=t 'License holders', 'Liste der Lizenznehmer' %></a></li>
        <li><a href="<%=r 'licences/terms-of-use' %>"><%=t 'Terms of Use', 'Nutzungsbedingungen' %></a></li>
      </ul>
    </li>
    <li><a href="<%=r 'copyright-and-using' %>"><%=t 'Copyrights and using', 'Bildrecht und Verwendung' %></a></li>
    <li><a href="<%=r 'databases/index' %>"><%=t 'Information for database supplier', 'Informationen für Datenbankgeber' %></a>
      <ul>
        <li><a href="<%=r 'databases/data-supply' %>">Bereitstellung der Daten</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'databases/metadata-contents' %>">Metadaten - Inhalte</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'databases/metadata-formats' %>">Formate der Metadaten-Datei</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'databases/media-formats' %>">Medienformate</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'databases/promdilps' %>">promDILPS</a></li>
      </ul>
    </li>
    <li><a href="<%=r 'projects/index' %>"><%=t 'Projects and cooperations', 'Projekte und Projektbeteiligungen' %></a>
      <ul>
        <li><a href="<%=r 'projects/meta-image' %>">Meta-Image</a></li>
        <li><a href="<%=r 'projects/digital-historical-archive' %>">Das digitale Historische Archiv Köln</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'projects/automatic-indexing' %>">Automatische Erschließung des digitalen Bildarchivs prometheus</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'projects/hyper-image' %>">HyperImage</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'projects/e-learning' %>">Digitale Bildressourcen und E-Learning-Komponenten</a><%=t ' (in german)', '' %></li>
        <li><a href="<%=r 'projects/notebook-library' %>">Notebook-Bibliothek</a><%=t ' (in german)', '' %></li>
      </ul>
    </li>
    <li><%=t 'Tools and hints', 'Tools und Tipps' %>
      <ul>
        <li><a href="<%=r 'tools-and-hints/teaching-and-learning/index' %>"><%=t 'Teaching and Learning', 'Lehren und Lernen' %></a>
          <ul>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/ilias' %>"><%=t 'Learning platform ILIAS', 'Lernplattform ILIAS' %></a></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/ilias-user-account' %>">ILIAS Benutzerkonto registrieren</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/ilias-why-ilias' %>">Warum ILIAS?</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules' %>"><%=t 'Study modules', 'Lernmodule' %></a></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-e-learning' %>">E-Learning 2.0</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-e-learning-excursion-online' %>">exkursion-online</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-e-learning-limes-pohlheim' %>">limes-pohlheim.de</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-knowledge-coach' %>"><%=t 'Knowledge-Coach', 'Wissenstrainer' %></a></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-knowledge-coach-terminologietrainer' %>">Terminologie-Trainer</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-little-application' %>"><%=t 'Little applications', 'Kleine Applikationen' %></a></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-little-application-malen-mit-flash' %>">Malen mit Flash</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-method-coach' %>"><%=t 'Method-Coach', 'Methoden-Coach' %></a></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-method-coach-ad-fontes' %>">Ad fontes</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-method-coach-beschreibungscoach' %>">Beschreibungs-Coach</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-study-units' %>"><%=t 'Study units', 'Lerneinheiten' %></a></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-study-units-einführung-in-die-arcitektur-renaissance-und-barock' %>">Einführung in die Architektur der Renaissance und des Barock</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-study-units-internetkolleg-kunst' %>">Die Geschichte der Kunst im Wandel ihrer Funktionen - Internetkolleg Kunst</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-topic-room-2d-3d' %>">2D-3D Grundlagen</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-topic-room' %>"><%=t 'Topic room', 'Themenraum' %></a></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-topic-room-altenberger-dom' %>">Altenberger Dom</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-topic-room-altenstadt' %>">Altenstadt</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-topic-room-forum-romanum' %>">Forum romanum</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/teaching-and-learning/study-modules-topic-room-mauerreste' %>">mauer_reste</a><%=t ' (in german)', '' %></li>
          </ul>
        </li>
        <li><a href="<%=r 'tools-and-hints/tools/index' %>"><%=t 'Tools', 'Werkzeuge' %></a>
          <ul>
            <li><a href="<%=r 'tools-and-hints/tools/data-bases' %>"><%=t 'Data bases', 'Datenbanken' %></a></li>
            <li><a href="<%=r 'tools-and-hints/tools/data-bases-dadaedu' %>">DaDaEdu</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/data-bases-diathek' %>">diathek</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/data-bases-dilps' %>">DILPS</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/reference-manuals' %>"><%=t 'Reference manuals', 'Leitfaden' %></a></li>
            <li><a href="<%=r 'tools-and-hints/tools/reference-manuals-eikonline-2' %>">eikonline_2: Bildreproduktion</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/reference-manuals-eikonline-3' %>">eikonline_3: Bildpräsentation</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/reference-manuals-eikonline-4' %>">eikonline_4: DigiDiathek Nutzung</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/reference-manuals-eikonline-5' %>">eikonline_5: prometheus-Bildarchiv</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/norm-data' %>"><%=t 'Norm data', 'Normdaten' %></a></li>
            <li><a href="<%=r 'tools-and-hints/tools/norm-data-pknad' %>">PKNAD</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/programs' %>"><%=t 'Programs', 'Programme' %></a></li>
            <li><a href="<%=r 'tools-and-hints/tools/programs-begriffsnetz' %>">Begriffsnetz</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/programs-mapview' %>">MapView</a><%=t ' (in german)', '' %></li>
            <li><a href="<%=r 'tools-and-hints/tools/programs-projektor-editor' %>">projektor + editor</a><%=t ' (in german)', '' %></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="<%=r 'about-us/association-contact' %>"><%=t 'Contact us', 'Kontakt' %></a></li>
  </ul>
</div>
