<span id="loginfo">
  <a href="<%=p 'signup' %>"><%=t 'Sign up', 'Neu anmelden' %></a>
  <span class="pale">/</span>
  <a href="<%=p 'login' %>"><%=t 'Log in', 'Einloggen' %></a>
</span>

<span>
  <a href="<%=p 'help' %>"><%=t 'Help', 'Hilfe' %></a>
</span>

<span id="locale_switcher">
  <strong><%= native_lang %></strong>
<% for lang in other_langs -%>
  <span class="pale">&bull;</span>
  <a href="<%= canonical_url(lang) %>" title="<%= tl(lang, 'Switch to %s language', 'Sprache auf %s umstellen') % name = native_lang(lang) %>"><%= name %></a>
<% end -%>
</span>
