#workspace, #sidebar, #main {
  display:           block;
  float:             left;
}

table.resourceful-list td.thumbnail {
  background-position: 10px 10px;
  width:             150px;
}

td.thumbnail img {
  max-height:        110px;
  width:             80px;
}

table.resourceful-list td.metadata {
  padding-top:       10px;
}

table.list tr.list_row td.metadata {
  padding:           10px;
}

.noscript_button {
  display:           block;
}

body.js .noscript_button {
  visibility:        visible;
}

div.suggestions {
  position:          relative !important;
  top:               0 !important;
  left:              0 !important;
}
