#header {
  height:            108px;
}

#logo {
  float:             left;
}

#series {
  padding-top:       14px;
}

#series a {
  display:           inline-block;
  text-decoration:   none;
}

#series img {
  width:             50px;
  height:            50px;
  margin:            0 10px;
}

.series-items {
  margin-top:        2.5em;
}

.series-items > div + div {
  margin-top:        20px;
}

.series-items img {
  width:             100px;
  height:            100px;
  clear:             both;
  float:             left;
  margin-right:      10px;
}

.series-items p {
  width:             500px;
  height:            100px;
}

.login_form {
  margin-top:        0;
}

.login_form fieldset {
  width:             218px;
}

.login_form input[type=text],
.login_form input[type=password] {
  width:             99%;
}

.login_form input[type=submit] {
  border-width:      1px;
}

.login_form legend {
  white-space:       normal;
}

#facts {
  text-align:        right;
  margin-right:      10px;
  line-height:       30px;
  font-weight:       bold;
  color:             rgb(144,144,144);
}

#facts a {
  color:             inherit;
}

#facts a:hover {
  text-decoration:   underline;
}

#navigation {
  line-height: 30px;
  font-weight: bold;
}

#navigation .active a {
  color: white;
}

#navigation ul {
  list-style: none;
  padding: 0;
}

#navigation ul li {
  padding: 0;
  padding-left: 15px;
  background-image: url(../images/misc/navigation_list_background.gif);
  background-repeat: repeat-x;
}

#navigation ul li ul li{
  background-image: none;
  background-color: #1B1B1B;
}
