#header {
  height:            108px;
}

#logo, #tags-map, #greeting {
  float:             left;
}

#series {
  padding-top:       14px;
}

#series a, #series-front .section-item > a {
  display:           inline-block;
  text-decoration:   none;
}

#series img {
  width:             50px;
  height:            50px;
  margin:            0 10px;
}

.series-items {
  margin-top:        2.5em;
}

.series-items > div + div {
  margin-top:        20px;
}

.series-items img {
  width:             100px;
  height:            100px;
  clear:             both;
  float:             left;
  margin-right:      10px;
}

.series-items p {
  width:             500px;
  height:            100px;
}

#facts {
  text-align:        right;
  margin-right:      10px;
  line-height:       30px;
  font-weight:       bold;
  color:             rgb(144,144,144);
}

#facts a {
  color:             inherit;
}

#facts a:hover {
  text-decoration:   underline;
}

.login_form {
  margin-top:        0;
}

.login_form fieldset {
  width:             218px;
}

.login_form input[type=text],
.login_form input[type=password] {
  width:             99%;
}

.login_form input[type=submit],
.search_form input[type=submit] {
  border-width:      1px;
}

.login_form legend {
  white-space:       normal;
}

#login_wrap + #campus_login_wrap {
  margin-top:        2px;
}

#campus_login_wrap + #navigation {
  margin-top:        1px;
}

#navigation {
  font-weight:       bold;
}

#navigation .active > a {
  color:             rgb(255,255,255);
}

#navigation ul {
  list-style-type:   none;
  margin:            0;
  padding:           0;
}

#navigation li {
  padding:           0;
  padding-left:      15px;
}

#navigation > ul > li {
  line-height:       30px;
  background-image:  url(../images/misc/navigation_list_background.gif);
  background-repeat: repeat-x;
}

#navigation ul ul li {
  line-height:       1.2em;
}

#navigation ul ul li, #navigation > ul > li > ul {
  padding-bottom:    5px;
}

#navigation ul ul li, #navigation li ul {
  padding-top:       5px;
}

#content {
  margin-top:        0;
}

.nopandora {
  border:            2px solid rgb(147,0,0);
}

#content .header-line {
  margin:            1em 10px 0.5em 10px;
  padding-left:      0;
  width:             95%;
}

#greeting {
  width:             450px;
}

#greeting p {
  margin-bottom:     1.5em;
}

#greeting p:first-child {
  font-weight:       bold;
}

#greeting ul {
  list-style-type:   none;
  padding-left:      0;
}

#greeting ul a + a {
  padding-left:      0.75em;
}

.section-title {
  font-size:         12px;
  padding-bottom:    2px;
  border-bottom:     1px solid rgb(80,80,80);
  margin-bottom:     -13px;
  margin-top:        2.5em;
}

.section-heading {
  font-size:         14px;
  color:             rgb(255,255,255);
  padding-top:       1em;
  margin-bottom:     0.5em;
}

.section-item {
  background-color:  rgb(27,27,27);
  padding-right:     10px;
}

.section-item > a {
  float:             left;
  margin-right:      2em;
}

.section-item > div, .section-item > div > p:last-child {
  display:           inline;
}

#series-front img {
  width:             100px;
  height:            100px;
}

#series-front .section-item {
  min-height:        100px;
}

.pagination {
  line-height: 35px;
}
