<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%= page.lang %>">
<head>
  <!--#set var="url_root" value="<%=r '.' %>" -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= [page_title(true), title = t(site.title, site.title_de)].compact.join(' | ') %></title>

  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/application.css' %>" media="all" />
  <!--[if IE]>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/application_ie.css' %>" media="all" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/application_ie7.css' %>" media="all" />
  <![endif]-->
<noscript>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/noscript.css' %>" media="all" />
</noscript>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/print.css' %>" media="print" />
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/screen.css' %>" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/syntax.css' %>" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/mobile.css' %>" media="only screen and (max-device-width: 640px)" id="mobil-stylesheet" />

  <script src="<%=r 'javascripts/vendor.js' %>" type="text/javascript"></script>
  <script src="<%= site.pandora_url %>/javascripts/application.js" type="text/javascript"></script>
  <script src="<%=r 'javascripts/prometheus.js' %>" type="text/javascript"></script>
  <script type="text/javascript">Prometheus.lang = '<%= page.lang %>';</script>

  <link rel="shortcut icon" type="image/x-icon" href="<%=r 'favicon.ico' %>" />
  <link rel="canonical" href="<%= canonical_url %>" />
<% for lang in other_langs -%>
  <link rel="alternate" href="<%= canonical_url(lang) %>" hreflang="<%= lang %>" title="<%=t 'This page in', 'Diese Seite auf' %> <%= human_lang(lang) %>" />
<% end -%>
  <link rel="alternate" type="application/atom+xml" href="<%=r "atom.xml.#{page.lang}" %>" title="<%= title %>" />

  <meta name="author" content="<%=h site.name %>" />
<% if description = page.description || t(site.description, site.description_de) -%>
  <meta name="description" content="<%=h description %>" />
<% end -%>
</head>
<body onload="Prometheus.check_view_mode()">
  <a name="top"></a>
  <!--[if lte IE 6]>
  <div id="ie6warning" style="background-color: #ff0; color: #000" class="warning_icon">
    <%= include_file "ie6warning.#{page.lang}.html" %>
  </div>
  <![endif]-->
  <div id="header">
    <div id="statusbar">
      <span id="loginfo">
        <a href="<%=p 'signup' %>"><%=t 'Sign up', 'Neu anmelden' %></a>
        <span class="pale">/</span>
        <a href="<%=p 'login' %>"><%=t 'Log in', 'Einloggen' %></a>
      </span>

      <span>
        <a href="<%=p 'help' %>"><%=t 'Help', 'Hilfe' %></a>
      </span>

      <span id="locale_switcher">
        <strong><%= native_lang %></strong>
      <% for lang in other_langs -%>
        <span class="pale">•</span>
        <a href="<%= canonical_url(lang) %>" title="<%= tl(lang, 'Switch to %s language', 'Sprache auf %s umstellen') % name = native_lang(lang) %>"><%= name %></a>
      <% end -%>
      </span>
    </div>

    <div id="menu">
      <h1 id="logo"><a href="<%=r 'index' %>"><img alt="<%=h site.name %>" src="<%=r 'images/misc/logo.gif' %>" title="<%=t 'prometheus Homepage', 'prometheus-Homepage' %>" /></a></h1>

      <div id="series">
        <!--#config timefmt="<%= ImageSeries::TIME_FORMAT %>" -->
        <!--#set var="current_series" value="${url_root}/series/${DATE_LOCAL}" -->
        <!--#include virtual="${current_series}/row.html.<%= page.lang %>" -->
      </div>

      <div id="logo_10years">
        <a href="<%=r "about/10years" %>"><img src="<%=r "files/images/logo_10years_small.#{page.lang}.jpg" %>" title="<%=t '10 years prometheus', '10 Jahre prometheus' %>" /></a>
      </div>
    </div>

    <div id="menu_shadow"></div>
  </div>

  <div id="workspace">
    <div id="sidebar">
      <div id="sidebar_header"></div><div id="sidebar_header_shadow"></div>

      <div id="login_wrap">
        <form action="<%=p 'login' %>" class="login_form" method="post">
          <fieldset>
            <legend>
              <strong><%=t 'Personal account login', 'Persönlicher Zugang' %></strong>
              <a href="<%=p 'help', 'login' %>" title="<%=t 'Login help', 'Anmeldungshilfe' %>">
                <img src="<%=r 'images/misc/help.gif' %>" alt="Help" />
              </a>
            </legend>

            <label for="login"><%=t 'User name or e-mail address', 'Nutzername oder E-Mail-Adresse' %></label><br />
            <input type="text" name="login" id="login" size="32" tabindex="1" /><br />

            <br class="vspace1" />

            <label for="password"><%=t 'Password', 'Passwort' %></label>
            <small>(<a href="<%=p 'password' %>" title="<%=t 'Reset password', 'Passwort zurücksetzen' %>"><%=t 'Forgotten?', 'Vergessen?' %></a></small>)<br />
            <input type="password" name="password" id="password" size="32" tabindex="2" /><br />

            <br class="vspace1" />

            <input type="submit" name="commit" value="<%=t 'Log in', 'anmelden' %>" class="float-right" />

            <input type="checkbox" name="remember_me" id="remember_me" value="1" />
            <label for="remember_me"><%=t 'Remember me on this computer', 'Auf diesem Rechner merken' %></label><br />

            <!-- jw/20080407: fool pandora's cookie checking mechanism ;-) -->
            <input type="hidden" name="_pandora_session_id" value="FAKE" />
          </fieldset>
        </form>
      </div>
      <div id="campus_login_wrap">
        <form action="<%=p 'campus_login' %>" class="login_form" method="post">
          <fieldset>
            <legend><strong><%=t 'Campus login', 'Campuszugang' %></strong></legend>

            <div class="campus_title">
              <%=t 'Available inside a', 'Verfügbar innerhalb des Campus einer' %>
              <a href="<%=p 'institution/licensed' %>"><%=t 'licensed campus', 'lizenzierten Institution' %></a>.
            </div>

            <input type="submit" name="commit" value="<%=t 'Log in', 'anmelden' %>" class="float-right" />
          </fieldset>
        </form>
      </div>

      <div id="navigation"><%= page.navigation %></div>

      <div id="social_links">
        <a href="http://facebook.com/prometheus.bildarchiv" title="<%=t 'Visit us on Facebook', 'Besuchen Sie uns bei Facebook' %>"><img src="<%=r 'files/icons/facebook.png' %>" alt="facebook" /></a>
        <a href="http://twitter.com/prometheus_eV" title="<%=t 'Follow us on Twitter', 'Folgen Sie uns bei Twitter' %>"><img src="<%=r 'files/icons/twitter.png' %>" alt="twitter" /></a>
        <a href="http://vimeo.com/prometheusbildarchiv" title="<%=t 'Watch our videos on vimeo', 'Sehen Sie sich unsere Videos auf vimeo an' %>"><img src="<%=r 'files/icons/vimeo.png' %>" alt="Vimeo" /></a>
        <a href="http://www.flickr.com/photos/69568075@N03/" title="<%=t 'Look at our photos on flickr', 'Betrachten Sie unsere Fotos auf flickr' %>"><img src="<%=r 'files/icons/flickr.png' %>" alt="Flickr" /></a>
        <a href="<%=p 'subscribe' %>" title="<%=t 'Subscribe to our newsletter', 'Abonnieren Sie unseren Newsletter' %>"><img src="<%=r 'files/icons/newsletter.png' %>" alt="newsletter" /></a>
        <a href="<%=r "atom.xml.#{page.lang}" %>" title="<%=t 'Subscribe to our Blog', 'Abonnieren Sie unser Blog' %>"><img src="<%=r 'files/icons/rss.png' %>" alt="rss" /></a>
      </div>

    <% if blog?(page.url) -%>
      <div id="tag-cloud"><%= tag_cloud(site) %></div>
    <% end -%>

    </div><div id="main">
      <div id="submenu"><div id="facts"></div></div>
      <div id="content" class="clear-float">
        <div id="announcements_wrap"></div>

        <%= @content %>

        <script src="<%=p 'pandora.js' %>" type="text/javascript"></script>
      </div>
      <div id="style-mode-switch">
        <a href="#" onclick="Prometheus.switch_to_standard_mode()"><%=t 'View in standard mode', 'Im Standard-Modus betrachten' %></a>
      </div>
    </div>
  </div>

  <div id="footer" class="clear-float">
    <a href="#top" title="<%=t 'Back to top', 'Zurück zum Seitenanfang' %>"><img alt="Top" src="<%=r 'images/misc/top.gif' %>" /></a>
    <span>
      <a href="<%=r 'blog'         %>" title="<%=t 'The prometheus Blog', 'Das prometheus-Blog'   %>">Blog</a>
      <span class="pale">|</span>
      <a href="<%=r 'about'        %>" title="<%= name = t('About us', 'Über uns')                %>"><%= name %></a>
      <span class="pale">|</span>
      <a href="<%=r 'contact'      %>" title="<%= name = t('Contact', 'Kontakt')                  %>"><%= name %></a>
      <span class="pale">|</span>
      <a href="<%=p 'feedback'     %>" title="<%= name = t('Feedback', 'Feedback')                %>"><%= name %></a>
      <span class="pale">|</span>
      <a href="<%=r 'imprint'      %>" title="<%= name = t('Imprint', 'Impressum')                %>"><%= name %></a>
      <span class="pale">|</span>
      <a href="<%=r 'copyright'    %>" title="<%=t 'General copyright information', 'Allgemeine Informationen zum Bildrecht' %>"><%=t 'Copyright', 'Bildrecht' %></a>
      <span class="pale">|</span>
      <a href="<%=p 'terms_of_use' %>" title="<%= name = t('Terms of use', 'Nutzungsbedingungen') %>"><%= name %></a>
      <span class="pale">|</span>
      <a href="<%=p 'sitemap'      %>" title="<%= name = t('Sitemap', 'Sitemap')                  %>"><%= name %></a>
      <span class="pale">|</span>
      <a href="<%=r 'faq'          %>" title="<%= name = t('Frequently asked questions', 'Häufig gestellte Fragen') %>">FAQ</a>
      <span class="pale">|</span>
      <a href="<%=p 'help'         %>" title="<%= name = t('Help', 'Hilfe')                       %>"><%= name %></a>
    </span>
  </div>
</body>
</html>
