<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= @site.title %>: <%= @page.title %></title>
  <meta name="author" content="<%= @site.author %>" />
  <link href="<%=r 'atom.xml' %>" rel="alternate" title="<%= @site.title %>" type="application/atom+xml" />

  <script src="<%=r 'javascripts/prototype.js' %>" type="text/javascript"></script>
  <script src="<%= @site.pandora_url %>/pandora/homepage_data" type="text/javascript"></script>

  <link href="<%=r 'stylesheets/pandora_styles.css' %>" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="<%=r 'stylesheets/screen.css' %>" type="text/css" media="screen, projection" />
</head>
<script>
  function display_announcement(announcement, lang) {
    if (lang == 'en') {
      var message = announcement.message
    } else {
      var message = announcement.message_de
    }
    return '<div class="' + announcement.category + '">' +
    '<span>' + announcement.updated_at + '</span>' +
    message + '</div>'
  }

  function display_announcements(announcements, lang) {
    if (announcements.length > 0) {
      var announcements_html = ''
      for(var i = 0; i < announcements.length; i++) {
        announcements_html = announcements_html + display_announcement(announcements[i], lang)
      }

      return '<div id="announcements"><p><span>Announcement</span>' +
      '<a href="<%= @site.pandora_url %>/announcement/hide">Hide</a> | <a href="<%= @site.pandora_url %>/announcement/list">Archive</a>' +
      '</p>' + announcements_html + '</div>'
    }
  }

  document.observe("dom:loaded", function() {
    if (homepage_data.fullname) {
      $('loginfo').update('<strong><a href="<%= @site.pandora_url %>/account/show">' +
          homepage_data.fullname + '</a></strong>');
      $('campus-login').hide();
    }
    $('content').insert({
      top: display_announcements(homepage_data.announcements, '<%= @page.lang %>')
    });
  });
</script>
<body class="help-controller syntax-action"> <!-- TODO: Replace body classes -->
  <a name="top"></a>
  <div id="header">
    <div id="statusbar">
      <!-- TODO: Insert real Content here! -->
      <span id="loginfo">
        <span id="signup"><a href="<%= @site.pandora_url %>/signup"><%=t 'Sign up!', 'Neu anmelden!' %></a></span>
      </span>

      <span class="statusbar_link">Einstellungen</span>
      <span class="statusbar_link"><a href="<%= @site.pandora_url %>/help"><%=t 'Help', 'Hilfe' %></a></span>

      <span id="facts">
        <span class="statusbar_link">
          <a href="<%= @site.pandora_url %>/login"><%=t 'login', 'anmelden' %></a>
        </span>
      </span>
      <!-- TODO: End -->
    </div>

    <div id="menu">
      <div id="logo">
        <a href="<%=r 'index' %>"><img alt="prometheus - Das verteilte digitale Bildarchiv für Forschung &amp; Lehre" src="<%=r 'images/misc/logo.gif' %>" title="prometheus-Homepage" /></a>
      </div>
      <!-- TODO: Insert real Content here! -->
      <a href="<%= @site.pandora_url %>/search"><div class="navigation_icon search_navigation inactive" title="Suche"><span>Suche</span></div></a><a href="<%= @site.pandora_url %>/collection"><div class="navigation_icon collection_navigation inactive" title="Bildsammlung"><span>Bildsammlung</span></div></a><a href="<%= @site.pandora_url %>/presentation"><div class="navigation_icon presentation_navigation inactive" title="Präsentation"><span>Präsentation</span></div></a><a href="<%= @site.pandora_url %>/administration"><div class="navigation_icon administration_navigation inactive" title="Verwaltung"><span>Verwaltung</span></div></a><a href="<%= @site.pandora_url %>/misc"><div class="navigation_icon misc_navigation inactive" title="Verschiedenes"><span>Verschiedenes</span></div></a>
      <!-- TODO: End -->
    </div>

    <div id="menu_shadow"></div>
  </div>

  <div id="workspace">
    <div id="sidebar">
      <div id="sidebar_header"></div>
      <%= include_file('navigation.html') %>
    </div>

    <div id="main">
      <div id="submenu"></div>
      <div id="content" class="clear-float">
        <%= @content %>
      </div>
    </div>
  </div>

  <div id="footer" class="clear-float">
    <%= include_file('footer.html') %>
  </div>

</body>
</html>
