<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!--#set var="url_root" value="<%=r '.' %>" -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= [page_title(true), title = t(@site.title, @site.title_de)].compact.join(' | ') %></title>

  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/application.css' %>" media="all" />
  <!--[if IE]>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/application_ie.css' %>" media="all" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/application_ie7.css' %>" media="all" />
  <![endif]-->
<noscript>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/noscript.css' %>" media="all" />
</noscript>
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/print.css' %>" media="print" />
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/screen.css' %>" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="<%=r 'stylesheets/syntax.css' %>" media="screen, projection" />

  <script src="<%=r 'javascripts/prototype.js' %>" type="text/javascript"></script>
  <script src="<%= @site.pandora_url %>/javascripts/application.js" type="text/javascript"></script>
  <script src="<%=r 'javascripts/prometheus.js' %>" type="text/javascript"></script>
  <script type="text/javascript">Prometheus.lang = '<%= page.lang %>';</script>

  <link rel="shortcut icon" type="image/x-icon" href="<%=r 'favicon.ico' %>" />
  <link rel="alternate" type="application/atom+xml" href="<%=r "atom.xml.#{@page.lang}" %>" title="<%= title %>" />

  <meta name="author" content="<%=h @site.name %>" />
</head>
<body>
  <a name="top"></a>
  <!--[if lte IE 6]>
  <div id="ie6warning" style="background-color: #ff0; color: #000" class="warning_icon">
    <%= include_file "ie6warning.#{page.lang}.html" %>
  </div>
  <![endif]-->
  <div id="header">
    <div id="statusbar"><%= include_file 'statusbar.html' %></div>

    <div id="menu">
      <div id="logo">
        <a href="<%=r 'index' %>"><img alt="<%=h @site.name %>" src="<%=r 'images/misc/logo.gif' %>" title="<%=t 'prometheus Homepage', 'prometheus-Homepage' %>" /></a>
      </div>

      <div id="series">
        <!--#config timefmt="%G/%V" -->
        <!--#set var="current_series" value="${url_root}/series/${DATE_LOCAL}" -->
        <!--#include virtual="${current_series}/row.html.<%= page.lang %>" -->
      </div>

      <div id="logo_10years">
        <a href="<%=r "about/10years" %>"><img src="<%=r "files/images/logo_10years_small.#{page.lang}.jpg" %>" title="<%=t '10 years prometheus', '10 Jahre prometheus' %>" /></a>
      </div>
    </div>

    <div id="menu_shadow"></div>
  </div>

  <div id="workspace">
    <div id="sidebar">
      <div id="sidebar_header"></div><div id="sidebar_header_shadow"></div>

      <div id="login_wrap"><%= include_file 'login.html' %></div>
      <div id="campus_login_wrap"><%= include_file 'campus_login.html' %></div>

      <div id="navigation"><%= @page.navigation %></div>

    <% if blog?(page.url) -%>
      <div id="tag-cloud"><%= tag_cloud(@site) %></div>
    <% end -%>

    </div><div id="main">
      <div id="submenu"><div id="facts"></div></div>
      <div id="content" class="clear-float">
        <div id="announcements_wrap"></div>

        <%= @content %>

        <script src="<%=p 'pandora.js' %>" type="text/javascript"></script>
      </div>
    </div>
  </div>

  <div id="footer" class="clear-float"><%= include_file 'footer.html' %></div>
</body>
</html>
