---
layout: default
---
<h2><%= page_title %></h2>
<h3><%= @page.subtitle %></h3>

<%= @content %>

<p>(<%= @page.author %>, <%= Date.parse(@page.date).strftime(t('%d/%m/%Y', '%d.%m.%Y')) %>)</p>

<div class="series-items">
<% for n in ImageSeries::NAMES %>
  <div>
    <img src="<%= n %>.jpg" alt="<%= n %>" />
    <!--#include virtual="<%= "#{n}.html.#{@page.lang}" %>" -->
  </div>
<% end %>
</div>

<div class="list_controls">
  <div class="pagination">
    <%= paginator_navigation %>
  </div>
</div>
