---
layout: default
---
<div id="series-header-line">
  <% if page.collection %>
  <div id="series-icon-line">
    <a href="<%=p "collection/edit/#{page.collection}" %>" title="<%=t 'Show collection in the archive', 'Bildsammlung im Archiv anzeigen' %>">
      <img src="<%=r 'images/icon/collection.png' %>" class="icon" />
    </a>
  </div>
  <% end %>

  <h2><%= page.title %></h2>
  <h3><%= page.subtitle %></h3>
</div>

<p class="post-meta">
  <%= date_to_string(Date.parse(page.date)) %>
  <span class="pale">|</span>
  <%=t 'By' , 'Von' %>: <%= page.author %>
</p>

<%= @content %>

<div class="series-items">
<% for item in ImageSeries.items(page) %>
  <div>
    <img src="<%= item %>.jpg" alt="<%= item %>" />
    <!--#include virtual="<%= "#{item}.html.#{page.lang}" %>" -->
  </div>
<% end %>
</div>

<div class="list_controls">
  <div class="pagination">
    <%= paginator_navigation %>
  </div>
</div>
