---
layout: default
---
<h2><%= page_title %></h2>
<!--#if expr="<%= ImageSeries.order(File.dirname(page.url)) %> > ${DATE_LOCAL}" -->
<p><strong><%=t 'Not available yet...', 'Noch nicht verfügbar...' %></strong></p>
<!--#else -->
<h3><%= page.subtitle %></h3>

<p class="series-meta">
  <%= date_to_long_string(Date.parse(page.date)) %>
  <span class="pale">|</span>
  <%=t 'By' , 'Von' %>: <%= page.author %>
<% if page.collection -%>
  <a href="<%=p "collection/edit/#{page.collection}" %>" title="<%=t 'Show collection in the archive', 'Bildsammlung im Archiv anzeigen' %>">
    <img src="<%=r 'images/icon/collection.png' %>" class="icon" />
  </a>
<% end -%>
</p>

<p class="series-start-image">
  <img src="start.jpg" alt="<%=t 'Start image', 'Startbild' %>" />
</p>

<%= @content %>

<div class="series-items">
<% for item in ImageSeries.items(page) -%>
  <div>
    <img src="<%= item %>.jpg" alt="<%= item %>" />
    <!--#include virtual="<%= "#{item}.html.#{page.lang}" %>" -->
  </div>
<% end -%>
</div>
<!--#endif -->

<div class="list_controls">
  <div class="pagination">
    <%= paginator_navigation %>
  </div>
</div>
